zabbix-wrapper/monitoring-pillar-biz/src/main/xsd/monitoring.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Mon Nov 17 2014 18:06:46 
		GMT+0100 (W. Europe Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="monitoring">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="prismaiaas">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="hostgroup" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hostgroupname">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="hostname" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="metric" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="itemname" type="xs:string"></xs:element>
																			<xs:element name="itemdef" type="xs:string"></xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string"></xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>